@media screen and (max-width: 1000px) {
	header {
		margin: 0 0 20% 0;
}
	nav {
		width: 70%;
	}
	.menu li {
		margin-right: 6%;
	}
	.slogan-block {
		padding-bottom: 25%;
}
	.slogan-block h2 {
		font-size: 40px;
	}
	.slogan-block h2::before,
	.slogan-block h2::after {
		width: 80px;
		height: 6px;
	}	
	.service-icon {
		margin: 0 0 100px 25%;
	}
	.expand-business-window .inner-text-block h2 {
		margin-top: 123px;
		font-size: 40px;
	}
}
@media screen and (max-width: 900px) {
	.process-block {
		text-align: center;
	}
	.process-diagram {
		position: relative;
		overflow: visible;
		padding: 0;
		width: 100%;
		transform: scale(0.8);
	}
	.page-inner-txt {
		width: 100%;
	}
	.page-inner-img {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.slogan-block h2 span {
		display: block;
	}
	.services > p,
	.process-block > p {
		margin: 0 5% 80px;
	}
	.service-items {
		flex-wrap: wrap;
	}
	.service-item {
		width: 49%;
		padding: 20px 0;
	}
	.service-icon {
		margin: 0 0 100px 37%;
	}
	.process-diagram {
		transform: scale(0.7);
		margin-top: -10%;
		margin-left: -10%;
	}
}	

@media screen and (max-width: 670px) {
		header {
			margin-bottom: 30%;
		}
		.btn-nav {
			display: block;
			cursor: pointer;
		}
		nav {
			position: absolute;
			top: 69px;
			right: 20px;
			width: 120px;
			border: 1px solid #fc6863;
			display: none;
		}
		.menu {
			padding: 0;
		}
		.menu li {
			display: block;
			margin: 0 0 10px;
			padding: 0;
		}
		.menu li a {
			display: inline;
			padding: 5px;
			margin: 5px;
			border-bottom: none;
			text-decoration: none;
		}
		.menu li:hover a {
			border-bottom: none;
		}
		.process-diagram {
			transform: scale(0.6);
			margin-left: -15%;
		}
}
@media screen and (max-width: 600px) {
	header {
			margin-bottom: 50%;
	}
	.slogan-block h2 {
		font-size: 32px;
	}
	.service-item {
		width: 100%;
	}	
	.service-icon {
		margin: 0 0 100px 40%;
	}
	.expand-business-window .inner-text-block h2 {
		margin-top: 123px;
		font-size: 32px;
	}
	.process-diagram {
		display: none;
	}
	.process-diagram-mobile {
		display: block;
		margin-bottom: 30px;
	}
	.process-diagram-mobile h4 {
		padding: 0 0 10px 0;
		font-size: 24px;
		color: #868686;
		text-transform: uppercase;
		position: relative;
	}
	.process-diagram-mobile h4::before {
		display: block;
		content: "";
		width: 38px;
		height: 38px;
		background: url(../img/process_spray.png) 9px 0 no-repeat, #fc635d;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 20%;
		z-index: 10;
	}
	.process-diagram-mobile .mobile-step-2 h4::before {
		background-position: -34px -2px;
	}
	.process-diagram-mobile .mobile-step-3 h4::before {
		background-position: -71px -4px;
	}
	.process-diagram-mobile .mobile-step-4 h4::before {
		background-position: -113px -4px;
	}
	.process-diagram-mobile h4::after {
		content: "";
		height: 1px;
		width: 25%;
		background: #adadad;
		display: block;
		position: absolute;
		bottom: 6px;
		left: 50%;
		transform: translateX(-50%);
	}
	.process-diagram-mobile h4 span {
		color: #fc635e;
	}
	.process-diagram-mobile p {
		margin: 0 25px;
		font-size: 15px;
		color: #9f9f9f;
	}
	.page-inner-img {
		width: 90%;
	}
	.landing-page .page-inner-img,
	.advertising-page .page-inner-img {
		transform: scale(0.7);
	}
	.personal-info-item { 
		width: 100%;
	}
}
@media screen and (max-width: 420px) {
	.service-icon {
		margin: 0 0 100px 37%;
	}
	.
}